@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI", "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2F80ED;
  --color-success: #27AE60;
  --color-warning: #F59E0B;
  --color-error: #EB5757;
  --color-background-app: #F9FAFB;
  --color-text-main: #1F2937;
}

@layer base {
  body {
    @apply bg-background-app text-text-main font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply text-text-main font-bold;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
*{
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
